.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}
/* 
plotly color schemes "BLUES"
['rgb(247,251,255)', 'rgb(222,235,247)', 
'rgb(198,219,239)', 'rgb(158,202,225)', 
'rgb(107,174,214)', 'rgb(66,146,198)',
 'rgb(33,113,181)', 'rgb(8,81,156)', 'rgb(8,48,107)']
  */
  /* colors = px.colors.sequential.Viridis
  # ['#440154', '#482878', '#3e4989', '#31688e', '#26828e', 
  # '#1f9e89', '#35b779', '#6ece58', '#b5de2b', '#fde725']
  print(colors) */
  /* 'rgb(247,251,255)', 'rgb(222,235,247)', 
  'rgb(198,219,239)', 'rgb(158,202,225)', 
  'rgb(107,174,214)', 'rgb(66,146,198)', 
  'rgb(33,113,181)', 
  'rgb(8,81,156)', rgb(8,48,107) */

body {
  background-color: rgb(198,219,239);
  /* margin: 5%; */
  margin-top: 1%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#individual_graph,
#aggregate_graph {
  width: calc(100% - 30px);
  position: absolute;
}

#count_graph {
  position: absolute;
  height: calc(100%);
  width: calc(100%);
}

#countGraphContainer {
  flex: 5;
  position: relative;
}

#header {
  align-items: center;
}
#header-image2 {
  height: 100%;
  /* padding: 0 px; */
  float: right;
}
#footer {
  align-items: center;
}

#learn-more-button {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-transform: none;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}
#title {
  text-align: center;
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

#rightColumn {
  display: flex;
  flex-direction: column;
}



/* Mini Info Container "Compare" 2 */

#compare_info_box1, #compare_cases_mortality1, #compare_cases_per_100k1, #compare_deaths_per_100k1, #compare_growth_rate1 {
  flex: 1;
}


#aggregate_data {
  align-items: center;
}


#tripleContainer {
  display: flex;
  flex: 3;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

#pie_graph > div > div > svg:nth-child(3) > g.infolayer > g.legend {
  pointer-events: all;
  transform: translate(30px, 349px);
}
